div p {
    margin-bottom: 0;
}

div p p{
    margin-bottom: 0;
}

p.single{
    text-indent: 20px;
}

p.double{
    text-indent: 40px;
}

ul li div{
    margin-left: 5%;
}

ul li div label{
    margin-left: 5%;
}